fastapi==0.115.6
uvicorn[standard]==0.32.1
opentelemetry-distro==0.50b0
opentelemetry-exporter-otlp==1.29.0
opentelemetry-instrumentation-fastapi==0.50b0
opentelemetry-instrumentation-logging==0.50b0
openfeature-provider-flagd==0.2.3
openfeature-hooks-opentelemetry==0.3.1
